@import "../../node_modules/bootstrap/scss/functions";
@import './helper/variables';
@import "../../node_modules/bootstrap";


@import "./helper/utils";
@import "bootstrap/scss/utilities/api";



@import './base/base.scss';

@import './compoent/button.scss';

@import './layout/header.scss';
@import './layout/footer.scss';

@import './pages/index.scss';
@import './pages/product.scss';
@import './pages/productdetail.scss';


//Scss 在 Bootstrap 相關引入後，順序需為 base > component > layout > pages。s';
