<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="bg-primary-200 pb-5">
  <div class="container text-center position-relative">
    <img src="../assets/images/88af92cc97ac3bdeddb94b995ae5341e7f23684b.png" 
         alt="酥皮" class="img-fluid w-100">

    <!-- 圓形白底 -->
    <div class="circle-box d-flex flex-column justify-content-center align-items-center mt-n5">
      <h3 class="font-serif-tc fw-semibold lh-sm fs-4 mb-3 text-secondary">輕盈酥皮</h3>
      <p class="neutral-60a fs-6 mb-4 px-3">
        我們的泡芙外皮，每一片都由師傅手工現做，精準掌握烘烤火侯，
        打造出金黃酥脆、輕盈如雲的完美口感。那入口即化的輕盈感，
        彷彿真的咬到一朵雲。
      </p>

      <a href="#" class="text-decoration-none text-primary-600 fw-semibold font-serif-tc">
        <span class="material-symbols-outlined border rounded-circle border-primary p-2 bg-primary text-white mb-2">
          arrow_outward
        </span><br>
        選酥皮
      </a>
    </div>
  </div>
  
</section>


 
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
