<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <title>Login</title>
  </head>
  <body>
    <%- include('./layout/header'); -%> 

<section class="bg-blue-white position-relative">

  <div class="container h-100 position-relative">
    <div class="vertical-text">
      <p class="buy-circle font-serif-tc fw-semibold lh-sm ls-3 text-primary">買泡芙</p>
    </div>
  </div>

<div class="marquee"></div>
</section>

  
<section>
    <div class="form-wrapper container mx-auto py-9 py-lg-11" style="max-width: 700px;"> 
        
        <h2 class="text-center mb-5 fs-4 fs-lg-3 fw-semibold text-black">會員登入</h2>

        <div class="mb-5 custom-input-field">
            <label for="loginEmail" class="form-label fw-semibold text-black fs-6 fs-lg-5 mb-2">電子信箱</label>
            <input type="email" class="form-control" id="loginEmail" placeholder="請輸入電子信箱">
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark custom-full-btn fs-6 fw-semibold text-white">登入</button>
        </div>
        <p class="text-end mt-1 mt-lg-2 register-link fs-6 fs-lg-5 ">沒有會員帳號嗎？
        <a href="#" class="register-link fs-6 fs-lg-5 text-gary">立即注冊</a>
        </p>
        
    </div>

</section>
 






 


</main>
   


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
